---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Forge Movies</title>
  </style>
  <body class="bg-background text-white h-screen w-screen overflow-hidden font-sans antialiased flex flex-row">
    <slot />
  </body>
</html>
